*{
    margin: 0;
    padding: 0;
 }

 a{
   text-decoration: none;
   color: white;
 }

 body{
    background: #e6e6e6;
 }

 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin: 45px 0 25px 0;
 }

 .section-form{
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px solid black;
 }

 #cadastroForm{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: white;
 }

 #cadastroForm label{
   font-size: 20px;
 }

 #cadastroForm input{
   width: 80%;
   padding: 1px;
   border-radius: 6px;
 }

 .div-btn{
   display: flex;
   justify-content: space-between;
 }

 .cadastro-btn{
   margin: 25px 0 25px 0;
   padding: 15px 25px 15px 25px;
   margin-right: 10px;
   cursor: pointer;
   text-transform: uppercase;
   border: none;
   border-radius: 5px;
   background: rgb(145, 145, 145);
   color: white;
 }